.conatiner {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas:
  ". m-box m-box  m-box m-box ."
  ". m-box m-box m-box m-box ."
  ". m-box m-box m-box m-box ."
  ". form form form loc-btn  .";
}
#message {
  grid-area: m-input;
  width: 80%;
}
#form {
  grid-area: form;
}
 #loc-btn {
  grid-area: loc-btn;
  background: #333;
  color: #fff;
}
.m-box {
  background: rgb(248, 244, 244);
  border: 2px solid grey;
  box-shadow: 2px 2px 2px 2px rgb(199, 198, 198);
  padding: 10px;
  grid-area: m-box;
}
#btn {
  grid-area: btn;
}
h3 {
  text-align: center;
}


/* mobile */
@media only screen and (max-width: 650px) {
  .conatiner {
    padding: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px 250px 100px 100px;
    grid-template-areas:
    "m-box m-box m-box m-box"
    "m-box m-box m-box m-box"
    "form form form form"
    "loc-btn loc-btn loc-btn loc-btn"
    
    
  }
  #message {
    width: 100%;
  }
  #btn {
    width: 100%;
  }
}